In [ ]:
!pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (2.8.0)
Requirement already satisfied: absl-py>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.0.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: gast>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.5.3)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.24.0)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.10.0.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.44.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.21.5)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: libclang>=9.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (13.0.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.8.0)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.17.3)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.14.0)
Requirement already satisfied: flatbuffers>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow) (57.4.0)
Requirement already satisfied: tensorboard<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.8.0)
Collecting tf-estimator-nightly==2.8.0.dev2021122109
  Downloading tf_estimator_nightly-2.8.0.dev2021122109-py2.py3-none-any.whl (462 kB)
     |████████████████████████████████| 462 kB 9.1 MB/s
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow) (1.5.2)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.35.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.8.1)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.0.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.6.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.23.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (3.3.6)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.2.4)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (4.11.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.7.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (3.2.0)
Installing collected packages: tf-estimator-nightly
Successfully installed tf-estimator-nightly-2.8.0.dev2021122109

# Definisanje klase u kojoj se čuvaju podaci sa ulaza

In [128]:
class RecieveJson():
    filename : str      #naziv csv fajla
    headers : list      #nazivi kolona
    data : list         #podaci 
    inputs:list         #ulazi u mrezu [-1,-1,1,1,....]
    output:int          #izlaz iz mreze - redni broj kolone
    regularization:str  #enum "l1" ili "l2"
    learningRate:float  
    regRate:float     
    loss:str            #enum, funkcija loss
    activation:str      #enum, aktivaciona funkcija
    epoche:int          #broj epoha
    layers:int          #broj slojeva
    neurons:list        #broj neurona po sloju
    missingNum:str      #kod za nedostajuce numericke vrednosti "delete", "min","max","median", "default"
    missingCat:str      #kod za nedostajuce kategorijske vrednosti "delete", "min","max","default"
    encode:str          #kod za enkodiranje "LabelEncoding" "OneHotEncoding"
    outlier:str         #kod za outliere "svm","MinCovDet", "LocOutFact","isolationForest"
    model:str           # da li je problem kasifikacija ili regresija - "classification", "regression"
    optimizer:str       #optimizator npr "adam"

## Hardkodovanje ulaznih vrednosti

In [129]:
data =  RecieveJson()
data.filename="cars.csv"
data.headers=['Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin']
data.data=[['Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US'], ['Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US'], ['Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US'], ['AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US'], ['Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US'], ['Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0;70;US'], ['Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;70;US'], ['Plymouth Fury iii;14.0;8;440.0;215.0;4312.;8.5;70;US'], ['Pontiac Catalina;14.0;8;455.0;225.0;4425.;10.0;70;US'], ['AMC Ambassador DPL;15.0;8;390.0;190.0;3850.;8.5;70;US'], ['Citroen DS-21 Pallas;0;4;133.0;115.0;3090.;17.5;70;Europe'], 
           ['Chevrolet Chevelle Concours (sw);0;8;350.0;165.0;4142.;11.5;70;US'], ['Ford Torino (sw);0;8;351.0;153.0;4034.;11.0;70;US'], ['Plymouth Satellite (sw);0;8;383.0;175.0;4166.;10.5;70;US'], ['AMC Rebel SST (sw);0;8;360.0;175.0;3850.;11.0;70;US'], ['Dodge Challenger SE;15.0;8;383.0;170.0;3563.;10.0;70;US'], ["Plymouth 'Cuda 340;14.0;8;340.0;160.0;3609.;8.0;70;US"], ['Ford Mustang Boss 302;0;8;302.0;140.0;3353.;8.0;70;US'], ['Chevrolet Monte Carlo;15.0;8;400.0;150.0;3761.;9.5;70;US'], 
           ['Buick Estate Wagon (sw);14.0;8;455.0;225.0;3086.;10.0;70;US'], ['Toyota Corolla Mark ii;24.0;4;113.0;95.00;2372.;15.0;70;Japan'], ['Plymouth Duster;22.0;6;198.0;95.00;2833.;15.5;70;US'], ['AMC Hornet;18.0;6;199.0;97.00;2774.;15.5;70;US'], ['Ford Maverick;21.0;6;200.0;85.00;2587.;16.0;70;US'], ['Datsun PL510;27.0;4;97.00;88.00;2130.;14.5;70;Japan'], 
           ['Volkswagen 1131 Deluxe Sedan;26.0;4;97.00;46.00;1835.;20.5;70;Europe'], ['Peugeot 504;25.0;4;110.0;87.00;2672.;17.5;70;Europe'], ['Audi 100 LS;24.0;4;107.0;90.00;2430.;14.5;70;Europe'], ['Saab 99e;25.0;4;104.0;95.00;2375.;17.5;70;Europe'], ['BMW 2002;26.0;4;121.0;113.0;2234.;12.5;70;Europe'], ['AMC Gremlin;21.0;6;199.0;90.00;2648.;15.0;70;US'], ['Ford F250;10.0;8;360.0;215.0;4615.;14.0;70;US'], ['Chevy C20;10.0;8;307.0;200.0;4376.;15.0;70;US'], ['Dodge D200;11.0;8;318.0;210.0;4382.;13.5;70;US'], ['Hi 1200D;9.0;8;304.0;193.0;4732.;18.5;70;US'], ['Datsun PL510;27.0;4;97.00;88.00;2130.;14.5;71;Japan'], 
           ['Chevrolet Vega 2300;28.0;4;140.0;90.00;2264.;15.5;71;US'], ['Toyota Corolla;25.0;4;113.0;95.00;2228.;14.0;71;Japan'], ['Ford Pinto;25.0;4;98.00;0;2046.;19.0;71;US'], ['Volkswagen Super Beetle 117;0;4;97.00;48.00;1978.;20.0;71;Europe'], ['AMC Gremlin;19.0;6;232.0;100.0;2634.;13.0;71;US'], ['Plymouth Satellite Custom;16.0;6;225.0;105.0;3439.;15.5;71;US'], ['Chevrolet Chevelle Malibu;17.0;6;250.0;100.0;3329.;15.5;71;US'], ['Ford Torino 500;19.0;6;250.0;88.00;3302.;15.5;71;US'], ['AMC Matador;18.0;6;232.0;100.0;3288.;15.5;71;US'], ['Chevrolet Impala;14.0;8;350.0;165.0;4209.;12.0;71;US'], ['Pontiac Catalina Brougham;14.0;8;400.0;175.0;4464.;11.5;71;US'], 
           ['Ford Galaxie 500;14.0;8;351.0;153.0;4154.;13.5;71;US'], ['Plymouth Fury iii;14.0;8;318.0;150.0;4096.;13.0;71;US'], ['Dodge Monaco (sw);12.0;8;383.0;180.0;4955.;11.5;71;US'], ['Ford Country Squire (sw);13.0;8;400.0;170.0;4746.;12.0;71;US'], ['Pontiac Safari (sw);13.0;8;400.0;175.0;5140.;12.0;71;US'], ['AMC Hornet Sportabout (sw);18.0;6;258.0;110.0;2962.;13.5;71;US'], ['Chevrolet Vega (sw);22.0;4;140.0;72.00;2408.;19.0;71;US'], ['Pontiac Firebird;19.0;6;250.0;100.0;3282.;15.0;71;US'], ['Ford Mustang;18.0;6;250.0;88.00;3139.;14.5;71;US'], ['Mercury Capri 2000;23.0;4;122.0;86.00;2220.;14.0;71;US'], ['Opel 1900;28.0;4;116.0;90.00;2123.;14.0;71;Europe'], 
           ['Peugeot 304;30.0;4;79.00;70.00;2074.;19.5;71;Europe'], ['Fiat 124B;30.0;4;88.00;76.00;2065.;14.5;71;Europe'], ['Toyota Corolla 1200;31.0;4;71.00;65.00;1773.;19.0;71;Japan'], ['Datsun 1200;35.0;4;72.00;69.00;1613.;18.0;71;Japan'], ['Volkswagen Model 111;27.0;4;97.00;60.00;1834.;19.0;71;Europe'], ['Plymouth Cricket;26.0;4;91.00;70.00;1955.;20.5;71;US'], ['Toyota Corolla Hardtop;24.0;4;113.0;95.00;2278.;15.5;72;Japan'], ['Dodge Colt Hardtop;25.0;4;97.50;80.00;2126.;17.0;72;US'], ['Volkswagen Type 3;23.0;4;97.00;54.00;2254.;23.5;72;Europe'], ['Chevrolet Vega;20.0;4;140.0;90.00;2408.;19.5;72;US'], ['Ford Pinto Runabout;21.0;4;122.0;86.00;2226.;16.5;72;US'],
           ['Chevrolet Impala;13.0;8;350.0;165.0;4274.;12.0;72;US'], ['Pontiac Catalina;14.0;8;400.0;175.0;4385.;12.0;72;US'], ['Plymouth Fury III;15.0;8;318.0;150.0;4135.;13.5;72;US'], ['Ford Galaxie 500;14.0;8;351.0;153.0;4129.;13.0;72;US'], ['AMC Ambassador SST;17.0;8;304.0;150.0;3672.;11.5;72;US'], ['Mercury Marquis;11.0;8;429.0;208.0;4633.;11.0;72;US'], ['Buick LeSabre Custom;13.0;8;350.0;155.0;4502.;13.5;72;US'],
           ['Oldsmobile Delta 88 Royale;12.0;8;350.0;160.0;4456.;13.5;72;US'], ['Chrysler Newport Royal;13.0;8;400.0;190.0;4422.;12.5;72;US'], ['Mazda RX2 Coupe;19.0;3;70.00;97.00;2330.;13.5;72;Japan'], ['AMC Matador (sw);15.0;8;304.0;150.0;3892.;12.5;72;US'], ['Chevrolet Chevelle Concours (sw);13.0;8;307.0;130.0;4098.;14.0;72;US'], ['Ford Gran Torino (sw);13.0;8;302.0;140.0;4294.;16.0;72;US'], ['Plymouth Satellite Custom (sw);14.0;8;318.0;150.0;4077.;14.0;72;US'], ['Volvo 145e (sw);18.0;4;121.0;112.0;2933.;14.5;72;Europe'], 
           ['Volkswagen 411 (sw);22.0;4;121.0;76.00;2511.;18.0;72;Europe'], ['Peugeot 504 (sw);21.0;4;120.0;87.00;2979.;19.5;72;Europe'], ['Renault 12 (sw);26.0;4;96.00;69.00;2189.;18.0;72;Europe'], ['Ford Pinto (sw);22.0;4;122.0;86.00;2395.;16.0;72;US'], ['Datsun 510 (sw);28.0;4;97.00;92.00;2288.;17.0;72;Japan'], ['Toyota Corolla Mark II (sw);23.0;4;120.0;97.00;2506.;14.5;72;Japan'], ['Dodge Colt (sw);28.0;4;98.00;80.00;2164.;15.0;72;US'], ['Toyota Corolla 1600 (sw);27.0;4;97.00;88.00;2100.;16.5;72;Japan'], ['Buick Century 350;13.0;8;350.0;175.0;4100.;13.0;73;US']]

In [193]:
data.inputs=[-1,-1,1,1,-1,-1,-1,-1,-1]
data.output=4
data.regularization="L1"
data.learningRate=0.2
data.regRate=0.2
data.encode="OneHotEncoding"
data.loss="Mse"
data.activation='ReLu'
data.layers=3
data.neurons=10
data.epoche=10
data.missingCat="Delete"
data.missingNum="Delete"
data.outlier="Svm"
data.model="Classification"
data.optimizer="Adam"

# Formiranje dataframe-a

** Objasnjenje:**

1. S obzirom da jedan string sadži vrdnosti za sve kolone jedne vrste(razdvojene znakom ;), mora se prvo splitovati po ";"

2. Prilikom splitovanja će sve pojedinačne vrednosti u obliku stringa biti spakovane u niz. Dakle, i brojevi će biti u formaru stringa

3. Zato za svaku vrstu treba proveriti da li sadrži numeričke vrednosti i iste pretvoriti u broj, pomoću funkcija **is_number()** i **StrToNum()**

In [131]:
for i in range(10):
  print(data.data[i])

['Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US']
['Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US']
['Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US']
['AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US']
['Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US']
['Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0;70;US']
['Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;70;US']
['Plymouth Fury iii;14.0;8;440.0;215.0;4312.;8.5;70;US']
['Pontiac Catalina;14.0;8;455.0;225.0;4425.;10.0;70;US']
['AMC Ambassador DPL;15.0;8;390.0;190.0;3850.;8.5;70;US']

In [132]:
print(data.headers)

['Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin']

Proverava da li prosledjeni string zapravo broj (ceo ili realan)

In [133]:
def is_number(element):
    try:
        float(element)
        return True
    except ValueError:
        return False

Prosledjeni string pretvara u broj

In [134]:
def StrToNum(y):
  for i in range(len(y)):
    if is_number(y[i]):
      y[i]=float(y[i])
  return y

Parsira matricu i priprema je za dataframe

In [135]:
def ParsMat(data:RecieveJson):
  for i in range(len(data.data)):
    y=data.data[i][0].split(";")
    #print(y)
    y=StrToNum(y)
    #print(y)
    data.data[i]=y
  return data

Sledeća funkcija služi za formiranje DataFrame-a, pomoću funkcije DataFrame iz **pandas** biblioteke. Takođe, neophodno je splitovati string koji predstavlja nazive kolona

In [136]:
import pandas as pd
def FormirajDataFrame(data):
  data=ParsMat(data)
  data.headers=(data.headers[0]).split(";")
  df=pd.DataFrame(data.data,columns=data.headers)
  return df

In [138]:
df=FormirajDataFrame(data)

In [139]:
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,US
...,...,...,...,...,...,...,...,...,...
88,Datsun 510 (sw),28.0,4.0,97.0,92.0,2288.0,17.0,72.0,Japan
89,Toyota Corolla Mark II (sw),23.0,4.0,120.0,97.0,2506.0,14.5,72.0,Japan
90,Dodge Colt (sw),28.0,4.0,98.0,80.0,2164.0,15.0,72.0,US
91,Toyota Corolla 1600 (sw),27.0,4.0,97.0,88.0,2100.0,16.5,72.0,Japan
92,Buick Century 350,13.0,8.0,350.0,175.0,4100.0,13.0,73.0,US

Provera tipova svake kolone u dataset-u

In [140]:
tipovi=df.dtypes
print(tipovi)

Car              object
MPG             float64
Cylinders       float64
Displacement    float64
Horsepower      float64
Weight          float64
Acceleration    float64
Model           float64
Origin           object
dtype: object

# Definisanje potrebnih enuma-a

In [141]:
from enum import Enum

Enum za aktivacionu funkciju

In [192]:
class ActivationType(Enum):
  Sigmoid="sigmoid"
  ReLu="relu"
  Linear='linear'
  Softmax="softmax"
  Tanh="tanh"
  none="None"

Enum za funkciju gubitka

In [143]:
class LossType(Enum):
  Binarycross='binary_crossentropy'
  Categoricalcross='categorical_crossentropy'
  Mse='mse'
  Non="None"

Enum za regularizator

In [144]:
class RegularizationType(Enum):
  L1="L1"
  L2="L2"
  none="None"

Enum za tip problema koji se rešava

In [145]:
class ProblemType(Enum):
  Classification="Classification"
  Regression:"Regression"
  none="None"

Enum za optimizator

In [146]:
class OptimizerType(Enum):
  none="None"
  Adam="Adam"
  Sgd="SGD"

# Izdvajanje potrebnih kolona u novi dataframe

In [147]:
ulazi=[]
i=0
for x in data.inputs:
  if x==1:
    ulazi.append(i)
  i+=1
print(ulazi)

[2, 3]

In [148]:
dataset=df

In [149]:
inputs=dataset.iloc[:,ulazi]
inputs.head()

   Cylinders  Displacement
0        8.0         307.0
1        8.0         350.0
2        8.0         318.0
3        8.0         304.0
4        8.0         302.0

Izdvajanje kolone koja predstavlja izlaz iz mreže

In [150]:
out=dataset.iloc[:,data.output]
out.head()

0    130.0
1    165.0
2    150.0
3    150.0
4    140.0
Name: Horsepower, dtype: float64

Objediniti kolone koje predstavljaju ulaz i izlaz iz mreže, tako što na niz koji predtavlja redne brojeve kolona koje su ulaz dodamo redni broj kolone koja je izlaz. Zatim pomoću funkcije iloc() izdvojimo odgovarajuće vrste i kolone.

In [151]:
ulazi.append(data.output)
datas = dataset.iloc[:,ulazi]
datas.head()

   Cylinders  Displacement  Horsepower
0        8.0         307.0       130.0
1        8.0         350.0       165.0
2        8.0         318.0       150.0
3        8.0         304.0       150.0
4        8.0         302.0       140.0

# Analiza podataka

Pre svega, proverimo da li naš skup podataka ima nedostajuće vrednosti.

In [152]:
datas.isna().sum()

Cylinders       0
Displacement    0
Horsepower      0
dtype: int64

Pozivajući funkciju info() možemo saznati nešto više o našim podacima. Jedan bitan podatak je i tip svakog atributa koji je označen kolonom Dtype.

In [153]:
datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Cylinders     93 non-null     float64
 1   Displacement  93 non-null     float64
 2   Horsepower    93 non-null     float64
dtypes: float64(3)
memory usage: 2.3 KB

Tipove podataka po kolonama možemo izdvojiti u niz sledećom komandom

In [154]:
tipovi = datas.dtypes
print(tipovi)

Cylinders       float64
Displacement    float64
Horsepower      float64
dtype: object

Analizirajmo malo naš skup podataka. Funkcija describe() daje neke informacije u kolonama, kao što su srednja vrednost, standardno odstupanje, minimum,maksimum itd.

In [155]:
datas.describe()

       Cylinders  Displacement  Horsepower
count  93.000000     93.000000   93.000000
mean    6.139785    241.661290  125.677419
std     1.885825    123.366394   49.053024
min     3.000000     70.000000    0.000000
25%     4.000000    113.000000   88.000000
50%     6.000000    250.000000  112.000000
75%     8.000000    350.000000  165.000000
max     8.000000    455.000000  225.000000

Ukoliko pozovemo data.shape dobićemo iz koliko vrsta i kolona se sastoji naš 
skup podataka

In [156]:
shapes=datas.shape
print(shapes)

(93, 3)

# Enkodiranje i obrada nedostajućih vrednosti

## Definisanje potrebnih funkcija

Funkcija LabelEncoding kao argumente prima niz tipova podataka po kolonama i ceoskup podataka sa kojima radimo. Ona svaku kategorijsku promenljivu u skupo podataka enkodira pomocu LabelEncodera.

Povratna vrednost je skup podataka sa enkodiranim kategorijskim kolonama.

In [157]:
def LabelEncoding(tipovi,data):
  i=0
  n=len(tipovi)
  for x in tipovi:
    if x == "object":
      label_encoder = preprocessing.LabelEncoder()
      naziv=data.iloc[:,i].name
      naziv1=naziv+"Label"
      data[naziv1]=label_encoder.fit_transform(data[naziv])
      del data[naziv]
    i+=1
  return data

Funkcija OneHotEncoding kao argumente prima niz tipova podataka po kolonama i ceoskup podataka sa kojima radimo. Ona svaku kategorijsku promenljivu u skupo podataka enkodira pomocu One hot enkodera.

Povratna vrednost je skup podataka sa enkodiranim kategorijskim kolonama

In [158]:
def OneHotEncoding(tipovi,data):
  i=0
  n=len(tipovi)
  for x in tipovi:
    if x == "object":
      naziv=data.iloc[:,i].name
      data=pd.get_dummies(data, columns=[naziv],prefix=[naziv])
    i+=1
  return data

Funkcija **srediNumericke** kao argumente prima skup podataka, ceo broj (1,2,3...) koji predstavlja kod za određivanje načina sređivanja nedostajućih numeričkih vrednosti, kao i redni broj kolone koja se obrađuje. 

Ukoliko argument **kod** ima vrednost mean, nedostajuće vrednosti će se popuniti srednjom vrednošću kolone, median - popuniće se medijanom, delete-vršiće se brisanje nedostajučih vrednosti, vrednost default znači da je korisnik na front-u odabrao sređivanje nedostajućih vrednosti po default-u. U ovom slučaju je default-na vrednost brisanje, što je moguće promeniti.

Treba napomenuti da se ovde ne vrši klasično brisanje vrsta koje sadrže NaN vrednosti, nego se selektuju sve kolone koje ne sadrže NaN vrednosti. Funkcija dropna() bi obrisala iz celog dataset-a nedostajuće vrednosti i za kategorijske i za numeričke kolone, pa nije pogodna za korišćenje u ovom kontekstu.

Povratna vrednost je izmenjen skup podataka.

In [159]:

def srediNumericke(data,kod,i):
    naziv=data.iloc[:,i].name
    #print(naziv)
    if kod == "Mean":
      vrednost=data[naziv].mean()
      data[naziv].fillna(vrednost, inplace=True)
    elif kod=="Median":
      vrednost=data[naziv].median()
      data[naziv].fillna(vrednost,inplace=True)
    elif kod == "Delete":
      data = data.loc[data[naziv].notnull()]
    elif kod == "Default":
      data = data.loc[data[naziv].notnull()]
   
    return data

Funkcija **srediKategorijske** kao argumente prima skup podataka, ceo broj (1,2,3...) koji predstavlja kod za određivanje načina sređivanja nedostajućih kategorijskih vrednosti, kao i redni broj kolone koja se obrađuje. 

Ukoliko argument **kod** ima vrednost min, nedostajuće vrednosti će se popuniti  najmanje ponovljenom vrednošću kolone, max - popuniće se najučestalijom, delete-vršiće se brisanje nedostajučih vrednosti, vrednost default znači da je korisnik na front-u odabrao sređivanje nedostajućih vrednosti po default-u. U ovom slučaju je default-na vrednost brisanje, što je moguće promeniti.


Treba napomenuti da se ovde ne vrši klasično brisanje vrsta koje sadrže NaN vrednosti, nego se selektuju sve kolone koje ne sadrže NaN vrednosti. Funkcija dropna() bi obrisala iz celog dataset-a nedostajuće vrednosti i za kategorijske i za numeričke kolone, pa nije pogodna za korišćenje u ovom kontekstu.

Povratna vrednost je izmenjen skup podataka.

In [160]:

def srediKategorijske(data,kod,i):
  naziv=data.iloc[:,i].name
  items = data[naziv].value_counts(sort=False)
  if kod=="Min":
    item = items.loc[[items.idxmin()]]
    value, count = item.index[0], item.iat[0]
    data[naziv].fillna(value, inplace=True)
  elif kod== "Max":
    item = items.loc[[items.idxmax()]]
    value, count = item.index[0], item.iat[0]
    data[naziv].fillna(value, inplace=True)
  elif kod=="Delete":
    data = data.loc[data[naziv].notnull()]
  elif kod=="Default":
    data = data.loc[data[naziv].notnull()]
  return data

Sledeća funkcija kao argumente prima dataset, kao i dve celobrojne vrednosti, čiji je značaj objasnjen u prethodnim funkcijama, pojedinačno. Vraća izmenjen skup podataka.

U zavisnosti od toga da li su kolone numeričkog ili kategorijskog tipa, poziva odgovarajuće funkcije za sređivanje nedostajućih vrednosti.

In [161]:
def srediNedostajuce(data,kod1,kod2):
  i=0
  tipovi = data.dtypes
  #print(tipovi)
  n=len(tipovi)
  for x in tipovi:
    if x == "object":
      data=srediKategorijske(data,kod1,i)
      
    else:
      data=srediNumericke(data,kod2,i)
      
    i=i+1
  return data

## Obrada nedostajućih vrednosti


Da bismo na pokaznom primeru proverili da li funkcije vrše predviđeni posao, kopirajmo u novu promenljivu ceo dataset.

Proverimo da li postoje nedostajuće vrednosti.

In [162]:
data1=datas.copy()
data1.isna().sum()

Cylinders       0
Displacement    0
Horsepower      0
dtype: int64

In [179]:
data1.head()

   Cylinders  Displacement  Horsepower
0        8.0         307.0       130.0
1        8.0         350.0       165.0
2        8.0         318.0       150.0
3        8.0         304.0       150.0
4        8.0         302.0       140.0

In [180]:
tipovi = data1.dtypes
n=len(tipovi)
print(tipovi)

Cylinders       float64
Displacement    float64
Horsepower      float64
dtype: object

In [181]:
data1 = srediNedostajuce(data1,data.missingCat,data.missingNum)
data1.isna().sum()

Cylinders       0
Displacement    0
Horsepower      0
dtype: int64

## Enkodiranje

U zavisnosti od podataka koji stižu sa ulaza, vrši se odgovarajuće enkodiranje

In [182]:
if data.encode=="OneHotEncoding":
  data1=OneHotEncoding(tipovi,data1)
elif data.encode == "LabelEncoding":
  data1=LabelEncoding(tipovi,data1)

data1.head()

   Cylinders  Displacement  Horsepower
0        8.0         307.0       130.0
1        8.0         350.0       165.0
2        8.0         318.0       150.0
3        8.0         304.0       150.0
4        8.0         302.0       140.0

# Detektovanje outlier-a

## Isolation Forest

Isolation Forest, ili skraćeno iForest, je algoritam za otkrivanje anomalija zasnovan na stablu.

Zasnovan je na modelovanju normalnih podataka na takav način da se izoluju anomalije koje su i malobrojne.

Možda je najvažniji hiperparametar u modelu argument „kontaminacije“, koji se koristi za procenu odstupanja u skupu podataka. Ovo je vrednost između 0,0 i 0,5 i podrazumevano je podešena na 0,1.

## SVM algoritam

Iako je SVM klasifikacioni algoritam, može se koristiti za otkrivanje odstupanja u ulaznim podacima i za skupove podataka za regresiju i za klasifikaciju.

Biblioteka scikit-learn obezbeđuje implementaciju SVM-a jedne klase u klasi OneClassSVM.

Klasa obezbeđuje argument „nu“ koji specificira približni odnos odstupanja u skupu podataka, koji je podrazumevano podešen na 0,1. U ovom slučaju ćemo ga postaviti na 0,01.

## Minimum Covariance Determinant

Biblioteka **scikit-learn** omogućava pristup ovoj metodi preko klase EllipticEnvelope.

On pruža argument „kontaminacije“ koji definiše očekivani odnos odstupanja koji će se posmatrati u praksi. U ovom slučaju, postavićemo je na vrednost od 0,01

## Local Outlier Factor

Može dobro da funkcioniše za prostore sa niskom dimenzionalnošću (malo karakteristika), iako može postati manje pouzdano kako se broj karakteristika povećava, što se naziva prokletstvo dimenzionalnosti.

Faktor lokalnog odstupanja je tehnika koja pokušava da iskoristi ideju najbližih suseda za detekciju odstupanja. 

Biblioteka **scikit-learn** obezbeđuje implementaciju ovog pristupa u klasi LocalOutlierFactor.

# Sređivanje outlier-a

In [183]:
if data.outlier=="IsolationForest":
  from sklearn.ensemble import IsolationForest
  #Pronalaženje outlier-a
  iso = IsolationForest(contamination=0.1)
  y = iso.fit_predict(data1)
  mask = y != -1
  data1=data1.iloc[mask, :]

elif data.outlier=="Svm":
  from sklearn.svm import OneClassSVM
  svm = OneClassSVM(nu=0.01)
  y = svm.fit_predict(data1)
  mask = y != -1
  data1=data1.iloc[mask, :]

elif data.outlier=="MinCovDet":
  from sklearn.covariance import EllipticEnvelope
  minCov = EllipticEnvelope(contamination=0.01)
  y = minCov.fit_predict(data1)
  mask = y != -1
  data1=data1.iloc[mask, :]
  
elif data.outlier == "LocOutFact":
  from sklearn.neighbors import LocalOutlierFactor
  lof = LocalOutlierFactor()
  y = lof.fit_predict(data1)
  mask = y != -1
  data1=data1.iloc[mask, :]



print(data1.shape)
print(shapes)

(87, 3)
(93, 3)

# Podela na train i test

Ulazne kolone su sve osim poslednje, izlazna je poslednja

In [184]:
from sklearn.model_selection import train_test_split

X=data1.iloc[:,:-1]
y=data1.iloc[:,-1]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.2, random_state=42
)

In [186]:
print(X_train.shape)

(69, 2)

In [185]:
print(X_test.shape)

(18, 2)

# Skaliranje podataka

 Neuronska mreža će misliti da je vrednost na višoj skali važnija, zato se vrši skaliranje podataka.

In [187]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

Štampanjem prvih pet vrsta X_train_scaled vidimo da je skaliranje uspešno izvršeno.

In [188]:
print(X_train_scaled[1:5])

[[ 0.99288021  0.49053935]
 [ 0.99288021  0.85124175]
 [-0.05305467 -0.33280308]
 [-0.05305467 -0.07403832]]

# Obuka klasifikacionog modela pomoću TensorFlow biblioteke

In [189]:
import tensorflow.keras.models
import tensorflow.keras.layers
from keras import regularizers
from keras.models import Sequential
from keras.layers import Dense
import tensorflow as tf

In [174]:
tf.random.set_seed(42)

Formiranje funkcije gubitka

In [190]:
los=LossType[data.loss].value
print(los)

mse

Formiranje aktivacione funkcije

In [194]:
activate=ActivationType[data.activation].value
print(activate)

relu

Formiranje regularizatora

In [197]:
if RegularizationType[data.regularization] !=RegularizationType.none:
  if RegularizationType[data.regularization].value == "L1":
    regularization = regularizers.l1(data.regRate)
  elif RegularizationType[data.regularization].value == "L2":
    regularization = regularizers.l1(data.regRate)

Formiranje modela

In [198]:
ninput=len(ulazi)
#print(ninput)

if data.model == ProblemType.Classification:
  noutput=len(y.unique())
else:
  noutput=1

#print(noutput)

model = Sequential()
model.add(Dense(ninput, activation=activate,kernel_regularizer=regularization))

for i in range(data.layers):
  model.add(Dense(data.neurons, activation=activate,kernel_regularizer=regularization))

model.add(Dense(noutput, activation=activate,kernel_regularizer=regularization))

if data.optimizer==OptimizerType.Adam.name:
  optimizerType = tf.keras.optimizers.Adam(learning_rate=data.learningRate)
elif data.optimizer==OptimizerType.Sgd.name:
  optimizerType = tf.keras.optimizers.SGD(learning_rate=data.learningRate)

model.compile(
    loss=los,
    optimizer=optimizerType,
    metrics=['accuracy']
)

history = model.fit(X_train_scaled, y_train, epochs=data.epoche, validation_split=0.2)
evaluate=model.evaluate(X_test,y_test,batch_size=32)

Epoch 1/10
2/2 [==============================] - 1s 219ms/step - loss: 19185.8320 - accuracy: 0.0182 - val_loss: 9613.1201 - val_accuracy: 0.0000e+00
Epoch 2/10
2/2 [==============================] - 0s 26ms/step - loss: 10025.2480 - accuracy: 0.0000e+00 - val_loss: 14419.6846 - val_accuracy: 0.0000e+00
Epoch 3/10
2/2 [==============================] - 0s 27ms/step - loss: 9407.7383 - accuracy: 0.0000e+00 - val_loss: 2495.3921 - val_accuracy: 0.0000e+00
Epoch 4/10
2/2 [==============================] - 0s 26ms/step - loss: 5224.5615 - accuracy: 0.0000e+00 - val_loss: 5151.4741 - val_accuracy: 0.0000e+00
Epoch 5/10
2/2 [==============================] - 0s 25ms/step - loss: 6671.3989 - accuracy: 0.0000e+00 - val_loss: 2808.6711 - val_accuracy: 0.0000e+00
Epoch 6/10
2/2 [==============================] - 0s 25ms/step - loss: 2582.8987 - accuracy: 0.0000e+00 - val_loss: 1521.8420 - val_accuracy: 0.0000e+00
Epoch 7/10
2/2 [==============================] - 0s 26ms/step - loss: 2663.0781 - accuracy: 0.0000e+00 - val_loss: 2268.4919 - val_accuracy: 0.0000e+00
Epoch 8/10
2/2 [==============================] - 0s 30ms/step - loss: 2157.9717 - accuracy: 0.0000e+00 - val_loss: 1171.2898 - val_accuracy: 0.0000e+00
Epoch 9/10
2/2 [==============================] - 0s 28ms/step - loss: 1662.9946 - accuracy: 0.0000e+00 - val_loss: 1892.0703 - val_accuracy: 0.0000e+00
Epoch 10/10
2/2 [==============================] - 0s 27ms/step - loss: 2356.5959 - accuracy: 0.0000e+00 - val_loss: 985.5512 - val_accuracy: 0.0000e+00
1/1 [==============================] - 0s 156ms/step - loss: 87013880.0000 - accuracy: 0.0000e+00

# Formiranje predikcije

In [199]:
predictions = model.predict(X_test_scaled)
print(predictions[:10])

[[128.27246 ]
 [125.25722 ]
 [ 53.689518]
 [ 63.683987]
 [137.31818 ]
 [124.43488 ]
 [ 52.380646]
 [150.74966 ]
 [123.88666 ]
 [158.6989  ]]

# Čuvanje modela

In [201]:
model.save("model.h5")