In [1]:
!pip install tensorflow

Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (2.8.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow) (57.4.0)
Requirement already satisfied: gast>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.5.3)
Collecting tf-estimator-nightly==2.8.0.dev2021122109
  Downloading tf_estimator_nightly-2.8.0.dev2021122109-py2.py3-none-any.whl (462 kB)
     |████████████████████████████████| 462 kB 14.2 MB/s
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.13.3)
Requirement already satisfied: tensorboard<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.8.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.44.0)
Requirement already satisfied: libclang>=9.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (13.0.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.21.5)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.10.0.2)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: flatbuffers>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.8.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.24.0)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.17.3)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: absl-py>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.0.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow) (1.5.2)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.23.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.0.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.35.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (3.3.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.6.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.4.6)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.8.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (4.11.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.7.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.4.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2021.10.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (3.2.0)
Installing collected packages: tf-estimator-nightly
Successfully installed tf-estimator-nightly-2.8.0.dev2021122109

In [169]:
class RecieveJson():
    filename : str
    headers : list
    data : list

In [170]:
data =  RecieveJson()
data.filename="cars.csv"
data.headers=['Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin']
data.data=[['Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US'],
           ['Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US'], 
           ['Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US'], 
           ['AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US'], 
           ['Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US'],
           ['Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0;70;US'],
           ['Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;70;US'], 
           ['Plymouth Fury iii;14.0;8;440.0;215.0;4312.;8.5;70;US'],
           ['Pontiac Catalina;14.0;8;455.0;225.0;4425.;10.0;70;US'],
           ['Volkswagen Super Beetle 117;0;4;97.00;48.00;1978.;20.0;71;Europe'],
           ['AMC Gremlin;19.0;6;232.0;100.0;2634.;13.0;71;US'],
           ['Plymouth Satellite Custom;16.0;6;225.0;105.0;3439.;15.5;71;US'], 
           ['Chevrolet Chevelle Malibu;17.0;6;250.0;100.0;3329.;15.5;71;US'], ['Ford Torino 500;19.0;6;250.0;88.00;3302.;15.5;71;US'],
           ['AMC Matador;18.0;6;232.0;100.0;3288.;15.5;71;US'],
           ['Chevrolet Impala;14.0;8;350.0;165.0;4209.;12.0;71;US'], 
           ['Pontiac Catalina Brougham;14.0;8;400.0;175.0;4464.;11.5;71;US'],
           ['Ford Galaxie 500;14.0;8;351.0;153.0;4154.;13.5;71;US'], 
           ['Plymouth Fury iii;14.0;8;318.0;150.0;4096.;13.0;71;US']
           ]

** Objasnjenje:**

1. S obzirom da jedan string sadži vrdnosti za sve kolone jedne vrste(razdvojene znakom ;), mora se prvo splitovati po ";"

2. Prilikom splitovanja će sve pojedinačne vrednosti u obliku stringa biti spakovane u niz. Dakle, i brojevi će biti u formaru stringa

3. Zato za svaku vrstu treba proveriti da li sadrži numeričke vrednosti i iste pretvoriti u broj, pomoću funkcija **is_number()** i **StrToNum()**

In [171]:
for x in data.data:
  print(x)

['Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US']
['Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US']
['Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US']
['AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US']
['Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US']
['Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0;70;US']
['Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;70;US']
['Plymouth Fury iii;14.0;8;440.0;215.0;4312.;8.5;70;US']
['Pontiac Catalina;14.0;8;455.0;225.0;4425.;10.0;70;US']
['Volkswagen Super Beetle 117;0;4;97.00;48.00;1978.;20.0;71;Europe']
['AMC Gremlin;19.0;6;232.0;100.0;2634.;13.0;71;US']
['Plymouth Satellite Custom;16.0;6;225.0;105.0;3439.;15.5;71;US']
['Chevrolet Chevelle Malibu;17.0;6;250.0;100.0;3329.;15.5;71;US']
['Ford Torino 500;19.0;6;250.0;88.00;3302.;15.5;71;US']
['AMC Matador;18.0;6;232.0;100.0;3288.;15.5;71;US']
['Chevrolet Impala;14.0;8;350.0;165.0;4209.;12.0;71;US']
['Pontiac Catalina Brougham;14.0;8;400.0;175.0;4464.;11.5;71;US']
['Ford Galaxie 500;14.0;8;351.0;153.0;4154.;13.5;71;US']
['Plymouth Fury iii;14.0;8;318.0;150.0;4096.;13.0;71;US']

In [172]:
print(data.headers)

['Car;MPG;Cylinders;Displacement;Horsepower;Weight;Acceleration;Model;Origin']

Proverava da li prosledjeni string zapravo broj (ceo ili realan)

In [173]:
def is_number(element):
    try:
        float(element)
        return True
    except ValueError:
        return False

Prosledjeni string pretvara u broj

In [174]:
def StrToNum(y):
  for i in range(len(y)):
    if is_number(y[i]):
      y[i]=float(y[i])
  return y

Parsira matricu i priprema je za dataframe

In [175]:
def ParsMat(data:RecieveJson):
  for i in range(len(data.data)):
    y=data.data[i][0].split(";")
    #print(y)
    y=StrToNum(y)
    #print(y)
    data.data[i]=y
  return data

In [176]:
for x in data.data:
  print(x)

['Chevrolet Chevelle Malibu;18.0;8;307.0;130.0;3504.;12.0;70;US']
['Buick Skylark 320;15.0;8;350.0;165.0;3693.;11.5;70;US']
['Plymouth Satellite;18.0;8;318.0;150.0;3436.;11.0;70;US']
['AMC Rebel SST;16.0;8;304.0;150.0;3433.;12.0;70;US']
['Ford Torino;17.0;8;302.0;140.0;3449.;10.5;70;US']
['Ford Galaxie 500;15.0;8;429.0;198.0;4341.;10.0;70;US']
['Chevrolet Impala;14.0;8;454.0;220.0;4354.;9.0;70;US']
['Plymouth Fury iii;14.0;8;440.0;215.0;4312.;8.5;70;US']
['Pontiac Catalina;14.0;8;455.0;225.0;4425.;10.0;70;US']
['Volkswagen Super Beetle 117;0;4;97.00;48.00;1978.;20.0;71;Europe']
['AMC Gremlin;19.0;6;232.0;100.0;2634.;13.0;71;US']
['Plymouth Satellite Custom;16.0;6;225.0;105.0;3439.;15.5;71;US']
['Chevrolet Chevelle Malibu;17.0;6;250.0;100.0;3329.;15.5;71;US']
['Ford Torino 500;19.0;6;250.0;88.00;3302.;15.5;71;US']
['AMC Matador;18.0;6;232.0;100.0;3288.;15.5;71;US']
['Chevrolet Impala;14.0;8;350.0;165.0;4209.;12.0;71;US']
['Pontiac Catalina Brougham;14.0;8;400.0;175.0;4464.;11.5;71;US']
['Ford Galaxie 500;14.0;8;351.0;153.0;4154.;13.5;71;US']
['Plymouth Fury iii;14.0;8;318.0;150.0;4096.;13.0;71;US']

Sledeća funkcija služi za formiranje DataFrame-a, pomoću funkcije DataFrame iz **pandas** biblioteke. Takođe, neophodno je splitovati string koji predstavlja nazive kolona

In [177]:
import pandas as pd
def FormirajDataFrame(data):
  data=ParsMat(data)
  data.headers=(data.headers[0]).split(";")
  df=pd.DataFrame(data.data,columns=data.headers)
  return df

In [178]:
df=FormirajDataFrame(data)

In [180]:
df

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8.0,307.0,130.0,3504.0,12.0,70.0,US
1,Buick Skylark 320,15.0,8.0,350.0,165.0,3693.0,11.5,70.0,US
2,Plymouth Satellite,18.0,8.0,318.0,150.0,3436.0,11.0,70.0,US
3,AMC Rebel SST,16.0,8.0,304.0,150.0,3433.0,12.0,70.0,US
4,Ford Torino,17.0,8.0,302.0,140.0,3449.0,10.5,70.0,US
5,Ford Galaxie 500,15.0,8.0,429.0,198.0,4341.0,10.0,70.0,US
6,Chevrolet Impala,14.0,8.0,454.0,220.0,4354.0,9.0,70.0,US
7,Plymouth Fury iii,14.0,8.0,440.0,215.0,4312.0,8.5,70.0,US
8,Pontiac Catalina,14.0,8.0,455.0,225.0,4425.0,10.0,70.0,US
9,Volkswagen Super Beetle 117,0.0,4.0,97.0,48.0,1978.0,20.0,71.0,Europe
10,AMC Gremlin,19.0,6.0,232.0,100.0,2634.0,13.0,71.0,US
11,Plymouth Satellite Custom,16.0,6.0,225.0,105.0,3439.0,15.5,71.0,US
12,Chevrolet Chevelle Malibu,17.0,6.0,250.0,100.0,3329.0,15.5,71.0,US
13,Ford Torino 500,19.0,6.0,250.0,88.0,3302.0,15.5,71.0,US
14,AMC Matador,18.0,6.0,232.0,100.0,3288.0,15.5,71.0,US
15,Chevrolet Impala,14.0,8.0,350.0,165.0,4209.0,12.0,71.0,US
16,Pontiac Catalina Brougham,14.0,8.0,400.0,175.0,4464.0,11.5,71.0,US
17,Ford Galaxie 500,14.0,8.0,351.0,153.0,4154.0,13.5,71.0,US
18,Plymouth Fury iii,14.0,8.0,318.0,150.0,4096.0,13.0,71.0,US

Provera tipova svake kolone u dataset-u

In [181]:
tipovi=df.dtypes
print(tipovi)

Car              object
MPG             float64
Cylinders       float64
Displacement    float64
Horsepower      float64
Weight          float64
Acceleration    float64
Model           float64
Origin           object
dtype: object